<div class="body" [ngClass]="getBodyClass()"  fxLayout="column" fxLayoutAlign="space-between start">
  <div class="content w-100" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" class="w-100" fxLayoutAlign="start center" style="padding-bottom: 10px">
      <div fxLayout="row" class="w-100" fxLayoutAlign="start center" style="padding-bottom: 5px">
        <mat-icon class="mat-icon-lg color-primary">manage_accounts</mat-icon>
        <h1 class="color-primary">Usuários</h1>
      </div>
      <mat-divider class="w-100"></mat-divider>
    </div>
